.container {
  width: 30%;
  height: 65%;
}
.example-form-field {
  display: block;
  text-align: center;
}
.mat-centred {
  text-align: center;
}
.wheat-container {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: wheat;
}
