<div class="back">
  <h2>About file storage service</h2>
  <p>
    This service which provides ability to store your files not on your
    computer. Thanks to this, you save space on your information carrier.
  </p>
  <p>
    The service is completely free and has no limits which makes it more
    interesting among competitors
  </p>
  <h2>What is our income</h2>
  <p>
    We work on trust and every user can support us financially for further
    development of the project and improvement of functionality for the end user
  </p>
  <h2>Contact us</h2>
  <a href="mailto:380669978812mark@gmail.com?subject=Feedback&body=Message"
    >Send Feedback</a
  >
</div>
