<div class="wheat-container">
  <div class="container">
    <mat-card class="mat-centred">
      <div>
        <h2>Personal information</h2>
        <mat-form-field class="example-form-field q">
          <mat-label>Login</mat-label>
          <input type="text" matInput #userLoginFor [(ngModel)]="Login" />
        </mat-form-field>
        <mat-form-field class="example-form-field">
          <mat-label>Password</mat-label>
          <input
            type="password"
            matInput
            #userPasswordFor
            [(ngModel)]="Password"
          />
        </mat-form-field>
        <mat-form-field class="example-form-field">
          <mat-label>Name</mat-label>
          <input type="text" matInput #userNameFor [(ngModel)]="Name" />
        </mat-form-field>
        <mat-form-field class="example-form-field">
          <mat-label>Last name</mat-label>
          <input type="text" matInput #userLastNameFor [(ngModel)]="LastName" />
        </mat-form-field>
        <mat-form-field class="example-form-field">
          <mat-label>Email</mat-label>
          <input type="text" matInput #userEmailFor [(ngModel)]="Email" />
        </mat-form-field>
        <div class="buttons">
        <button
        class="btn1"
          mat-flat-button
          color="primary"
          (click)="back()"
        >
          Back
        </button>
        <button
        class="btn2"
          mat-flat-button
          color="primary"
          (click)="deleteAccount()"
        >
          Delete account
        </button>
        <button
        class="btn3"
          mat-flat-button
          color="primary"
          (click)="update()"
        >
          Update
        </button>
      </div>
      </div>
    </mat-card>
  </div>
</div>
